@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap');

body {
    font-family: Inter;
}

::selection {
    background-color: black;
    color: white;
}

.box {
    background-color: #f2f2f2bf;
    border: solid #2b2b2b 1px;
    border-radius: 16px;
    backdrop-filter: blur(10px);
}

.navbar {
    width: 25vw;
    max-width: 680px;
    min-width: 500px;
    height: 50px;
    /* display: block; */
    display: flex;
    /* margin: 30px auto 0px auto; */
    padding: 0px 26px 0px 30px;
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.navbar__item {
    font-size: 1.0em;
}

.navbar__group {
    display: flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    align-items: center;
    gap: 25px;
    position: relative;
}

.navbar__group:first-child {
    /* background-color: green; */
    flex: 3;
    /* justify-content: space-between; */
    justify-content: flex-start;
    /* text-align: left; */
    /* width: 60%; */
}

.navbar__group:nth-child(2) {
    /* background-color: yellow; */
    flex: 2;
    justify-content: flex-end;
    text-align: right;
    /* width: 30%; */
    position: relative;
}

.navbar__group:nth-child(2) .navbar__item {
    display: flex;
    align-items: center;
}

.navbar__item--arrow::after {
    content: url("../icons/caret-down.svg");
    display: inline-block;
    transform: scale(0.5, 0.6);
    margin-right: -8px;
    margin-left: -5px;
    /* position: absolute;
    top: -7px;
    right: -30px; */
}

.navbar__item--arrow:nth-child(2):hover {
    background: red;
}

.hero {
    display: flex;
    width: 75vw;
    height: 100vh;
    max-width: 2000px;
    /* background-color: red; */
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.hero__intro {
    width: fit-content;
    height: 138px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0px;
    box-sizing: border-box;
}

.box--features {
    /* width: 25vw; */
    min-width: fit-content;
    font-size: 1.2em;
    padding: 0px;
}

.intro__heading {
    font-weight: 900;
    font-size: 2.5em;
    margin: 0px;
}

.intro__slogan {
    margin: 0px;
    padding: 0px;
    font-size: 1.4em;
    justify-self: center;
    margin-top: -7px;
}

.button_pair {
    /* margin: 0px;
    margin-bottom: -7px; */
    /* margin-top: 10px; */
    padding-top: 10px;
}

.button {
    border: solid black 2px;
    border-radius: 16px;
    width: 100px;
    height: 30px;
    display: inline-block;
    text-decoration: none;
    color: #000;
    text-align: center;
    line-height: 30px;
    font-size: 1em;
    /* padding: auto; */
}

.button:nth-child(1) {
    margin-right: 20px;
}

.button--dark {
    background-color: #2b2b2b;
    border-color: #2b2b2b;
    color: #fff;
}

.hero__intro::before {
    content: " ";
    width: 10px;
    height: 100%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: -30px;
    border-radius: 10px;
    /* top: 4px; */
}
.advantages__group {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 1.1em;
    padding: 10px 60px;
}

.advantages__item::before {
    display: inline-block;
    transform: scale(0.8);
    position: relative;
    top: 12px;
    margin-right: 9px;
}

.advantages__item:nth-child(1)::before {
    content: url("../icons/cat.svg");
}

.advantages__item:nth-child(2)::before {
    content: url("../icons/gear-six.svg");
}

.advantages__item:nth-child(3)::before {
    content: url("../icons/package.svg");
}

.advantages__item {
    position: relative;
    top: -10px;
}

.links {
    width: 200px;
    height: 100px;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-rows: 30px 30px 30px;
    list-style: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    right: 00px;
    display: none;
}


.links__item:nth-child(1)::before {
    content: url("../icons/github-logo.svg")
}

.links__item:nth-child(2)::before {
    content: url("../icons/instagram-logo.svg")
}

.links__item:nth-child(3)::before {
    content: url("../icons/gitlab-logo.svg")
}

.links__item:nth-child(4)::before {
    content: url("../icons/youtube-logo.svg")
}

.links__item:nth-child(5)::before {
    content: url("../icons/x.svg")
}

.links__item:nth-child(6)::before {
    content: url("../icons/discord-logo.svg")
}

.links__item::before {
    display: inline-block;
    transform: scale(0.6);
    position: relative;
    top: 10px;
    margin-right: 9px;
    margin: 0px;
}

.links__item {
    position: relative;
    top: -5px;
}

.links__item a {
    text-decoration: none;
    color: #000;
}

.wiki__title {
    font-size: 25rem;
    display: block;
    text-align: center;
    font-weight: 900;
    margin: 0 0 -130px 0;
}

.wiki {
    width: 100vw;
    height: 100vh;
}

.wiki__container {
    display: flex;
    gap: 80px;
    width: 100vw;
    display: flex;
    overflow-x: scroll;
    justify-content: center;
    align-items: center;
}

.box--wiki {
    width: 210px;
    height: 250px;
    padding: 35px;
    display: inline-block;
    margin: 0;
    display: inline-grid;
    grid-template-rows: 1fr 3fr 1fr;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
}

.box--wiki__title {
    text-align: center;
    /* margin-bottom: 60px; */
    margin: 0;
    padding: 0;
}

.box--wiki__button {
    height: auto;
    width: 105px;
    padding: 1px;
    margin: 0;
    text-align: center;
    justify-self: center;

}

.box--wiki__text {
    padding: 0;
    margin: 0;
    line-height: 1.5rem;
}